Repository radoslavirha/hikers-book, changes with the labels that .github/labeler.yml gives for each.
All labels: API, UI, PACKAGE, GraphQL API, Hiker's Book, @hikers-book/cli-tools, @hikers-book/config, @hikers-book/eslint-config, ci, deps, docker, docs, test

.github/labeler.yml:

API: api/**
UI: ui/**
PACKAGE: packages/**

'GraphQL API': api/graphql/**
"Hiker's Book": ui/hikers-book/**
'@hikers-book/cli-tools': packages/cli-tools/**
'@hikers-book/config': packages/config/**
'@hikers-book/eslint-config': packages/eslint-config/**

ci: .github/**
deps: '**/package.json'
docker: docker/**
docs: '**/*.md'
test: '**/*.spec.ts'

chore: lockfile
  pnpm-lock.yaml
Labels: none

refactor: stages api
  api/graphql/src/v1/resolvers/Trip.spec.ts
  api/graphql/src/v1/resolvers/Trip.ts
  api/graphql/src/v1/services/Trip.spec.ts
  api/graphql/src/v1/services/Trip.ts
  api/stages/.barrelsby.json
  api/stages/.eslintrc.js
  api/stages/README.md
  api/stages/config/.gitkeep
  api/stages/jest.config.js
  api/stages/package.json
  api/stages/scripts/jest/teardown.js
  api/stages/src/Server.integration.spec.ts
  api/stages/src/Server.ts
  api/stages/src/config/envs/index.ts
  api/stages/src/config/index.ts
  api/stages/src/config/logger/index.ts
  api/stages/src/config/mongoose/index.ts
  api/stages/src/docs/controllers/pages/SwaggerController.integration.spec.ts
  api/stages/src/docs/controllers/pages/SwaggerController.ts
  api/stages/src/docs/controllers/pages/index.ts
  api/stages/src/index.ts
  api/stages/src/v1/controllers/HelloWorldController.integration.spec.ts
  api/stages/src/v1/controllers/HelloWorldController.spec.ts
  api/stages/src/v1/controllers/HelloWorldController.ts
  api/stages/src/v1/controllers/index.ts
  api/stages/tsconfig.compile.json
  api/stages/tsconfig.json
  api/stages/views/swagger.ejs
  packages/config/config/api.graphql.template.json
  packages/config/config/api.stages.template.json
  packages/config/config/ui.hikers-book.template.json
  packages/config/environment-variables/api.stages.json
  packages/config/package.json
  pnpm-lock.yaml
Labels: API, PACKAGE, GraphQL API, @hikers-book/config, deps, docs, test

chore: eslint
  api/graphql/src/v1/resolvers/Trip.spec.ts
  api/graphql/src/v1/services/Trip.spec.ts
Labels: API, GraphQL API, test

chore: husky
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: deps

build: docker images
  .dockerignore
  .github/workflows/release-please.yml
  docker/Dockerfile
  docker/Dockerfile.api.graphql.dockerfile
  docker/Dockerfile.ui.hikers-book.dockerfile
  docker/Readme.md
  docker/config/api.authentication.json
  docker/config/api.stages.json
  docker/config/api.trips.json
  docker/config/ui.hikers-book.json
  docker/docker-compose.hikers-book.build.yml
  docker/docker-compose.hikers-book.yml
  docker/package.json
  package.json
  pnpm-lock.yaml
Labels: ci, deps, docker, docs

fix: fix tests by reverting class-validator
  api/authentication/package.json
  api/graphql/package.json
  api/graphql/src/v1/models/Comment.ts
  api/graphql/src/v1/models/Trip.ts
  api/graphql/src/v1/resolvers/Trip.ts
  api/stages/package.json
  api/trips/package.json
  pnpm-lock.yaml
Labels: API, GraphQL API, deps
